.cart-dropdown {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 55rem;
  height: 40rem;
  padding: 1rem;
  top: 8rem;
  right: 3rem;
  z-index: 2;
  border: 0.2rem solid black;
  border-radius: 0.5rem;
  background-color: white;

  &__item {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 30rem;
  }

  &__message {
    margin: 50px auto;
    text-align: center;
    font-size: 2rem;
  }

  &__footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__total {
    font-size: 3rem;
  }
}
