.sign-in-dropdown {
  background-color: #4da8da;
  border: 1px solid black;
  position: absolute;
  padding: 1rem;
  border-radius: 0.7rem;
  width: 37rem;
  height: 20rem;
  right: 5rem;
  top: 6.05rem;
  z-index: 1;
}
