$color-red-light: #de354c;
$color-red-dark: #b73225;

$color-green: #00c9b8;

$color-blue-dark: #12232e;
$color-blue-light-1: #4da8da;
$color-blue-light-2: #007cc7;

$shadow-blue-dark: #203647;
$shadow-blue-light: #eefbfb;

$bp-largest: 75em; // 1200px
$bp-large: 68.75em; // 1100px
$bp-medium: 56.25em; // 900px
$bp-small: 37.5em; // 600px

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @media only screen and (max-width: $bp-large) {
    font-size: 50%;
  }

  @media only screen and (max-width: $bp-medium) {
    font-size: 40%;
  }
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  line-height: 1.7;
  box-sizing: border-box;
}

body {
  padding: 2rem 4rem;
  background-image: linear-gradient(
    to right bottom,
    rgba($color-blue-light-1, 0.5),
    rgba($color-blue-light-2, 0.7)
  );
  // url(../img/view.jpg);
  background-size: cover;
}

.background {
  background-color: rgba($color-blue-dark, 0.2);
}
