$color-red-light: #de354c;
$color-red-dark: #b73225;

$color-green: #00c9b8;

$color-blue-dark: #12232e;
$color-blue-light-1: #4da8da;
$color-blue-light-2: #007cc7;

$shadow-blue-dark: #203647;
$shadow-blue-light: #eefbfb;
